<html>
  <head>
    <%- include("header") %>
  </head>
  <body>
    <h2>This is about page</h2>
    <p>
      sdfsdkfjsjfdsjfdgpsojkfpgosjf[pgojspfgojkdpfogjpdo jpfoj gpdojfgpodfjgp
      dojfgp odjfp gdj
    </p>
    <%- include("footer") %>
  </body>
</html>
